
.home
{
  background-color:darkgray;
  border-radius: 5px;
  border-bottom: solid;
}
.home a
{
  font-size: 25px;
  font-weight: bold;
  margin-left: 5px;
  text-decoration: none;
  margin-top: 5px;
}
#home1
{
  background-color: green;
height: 100%;
width: 100%;
}
.pic img
{
  height: 30%;
  width: 30%;
}
.left
{
  background-color: 	#00FFFF;
  width: 25%;
  height: 100%;
}
.left h3
{
  text-align: center;
  font-weight: bold;
  font-family: fantasy;
}
body
{
  
}
